.App {
  font-size: large;
  flex: 1;
}

.combo {
  margin-left: 1em;
  width: 12em;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera {
  margin: 0.5em;
  height: 100%;
}

button {
  font-size: large;
}
